button {
  border: none;
  border-radius: 10px;
  background-color: #4D5B9E;
  font-size: 0.64rem; /* 10.24px */
  font-weight: 600;
  font-family: Inter, Arial, sans-serif;
  color: #F5F7FB;
  cursor: pointer;
  transition: all 0.2s;
}

button:hover, button:focus {
  background-color: #3d487f;
}

.button-large {
  border-radius: 15px;
  width: 12.0625rem; /* 193px */
  height: 3.25rem; /* 52px */
  font-size: 1rem;
  font-weight: 500;
}

.button-medium {
  width: 7.5rem; /* 120px */
  height: 2.1875rem; /* 35px */
}

.button-small {
  width: 6.5rem; /* 104px */
  height: 1.875rem; /* 30px */
}