@import "./components/Button/button.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  height: 100%;
  min-height: 100vh;
  background-color: #F5F7FB;
  font-family: Inter, Arial, sans-serif;
  color: #293264;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#blob-left {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

#blob-right {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

main {
  margin: 1.25rem auto; /* 20px */
  max-width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}




/* Splash Component ------------------------------------------------- */

h1 {
  font-size: 1.953125rem; /* 31.25px */
  margin-bottom: 0.75rem;
  font-family: Karla, Inter, Arial, sans-serif;
}

p.intro {
  margin-bottom: 1.75rem;
}



/* Quiz Component ------------------------------------------------- */
form {
  max-width: 43.75rem; /* 700px */
}

article.question {
  border-bottom: 0.75px solid #DBDEF0;
  padding: 0.9375rem; /* 15px */
  width: 100%;
  text-align: left;
}

legend {
  margin-bottom: 0.6875rem; /* 11px */
  font-weight: 700;
  font-family: Karla, Inter, Arial, sans-serif;
}

.answer-options {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8125rem; /* 13px */
}

.answer {
  position: relative;
  display: flex;
}

.answer label {
  min-width: 4.125rem; /* 60px */
  border: 1px solid #4D5B9E;
  border-radius: 8px;
  padding: 0.2rem 1rem; /* 4px 6px */
  font-size: 0.64rem; /* 10.24px */
  font-weight: 500;
  text-align: center;
  cursor: pointer;
}

.radio-input {
  position: absolute;
  opacity: 0;
}

input:checked + label, input:focus + label, input:hover + label {
  background: #D6DBF5;
  border: 1px solid #D6DBF5;
}

form button {
  margin-top: 1.25rem; /* 20px */
}

.quiz-fallback button {
  margin-top: 1.25rem; /* 20px */
}

.quiz-fallback p {
  max-width: 390px;
}


/* Answers Component ------------------------------------------------- */
.quiz-answers {
  max-width: 43.75rem; /* 700px */
}

h2 {
  margin-bottom: 0.7rem; /* 12px */
  font-size: 1rem;
  font-weight: 700;
  font-family: Karla, Inter, Arial, sans-serif;
}

.revealed-answer {
  min-width: 4.125rem; /* 60px */
  border: 1px solid #4D5B9E;
  border-radius: 8px;
  padding: 0.25rem 1rem; /* 3.2px 6px */
  font-size: 0.64rem; /* 10.24px */
  font-weight: 500;
  cursor: default;
  opacity: 50%;
  text-align: center;
}

.revealed-answer p {
  line-height: 1;
}

.correct {
  border: 1px solid #94D7A2;
  background-color: #94D7A2;
  opacity: 1;
}

.incorrect {
  border: 1px solid #F8BCBC;
  background-color: #F8BCBC;
}

.after-quiz {
  width: 100%;
  margin-top: 1.25rem; /* 20px */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.25rem; /* 20px */
}

.after-quiz p {
  font-size: 0.8rem; /* 12.8px */
  font-weight: bold;
}

@media (min-width: 900px) {
  body {
    font-size: 1.2rem;
  }

  label, button, .revealed-answer {
    font-size: 0.7rem!important;
  }

  button {
    transform: scale(1.1)
  }

  .button-large {
    height: 3rem; /* 52px */
    font-size: 0.8rem!important;
  }

  .button-medium {
    width: 8.5rem;
  }
}